nav.admin-nav {
    position: fixed;
    top: 100px;
    left: 25px;
    z-index: 999999;
    -webkit-box-shadow: 2px 1px 8px #3c3c3c;
    -moz-box-shadow: 2px 1px 8px #3c3c3c;
    box-shadow: 2px 1px 8px #3c3c3c;
}
nav.admin-nav li {
    background-size: 100%;
    background-position: center;
    list-style: none;
    background-color: #fff;
    padding: 2px 10px;
    font-size: 1.2em;
    border-top: 1px solid #3C3C3C;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
nav.admin-nav li:hover {
    background-color: #000;
    color: #ffffff;
}
nav.admin-nav li:hover nobr {
    width: auto;
    padding: 2px 6px;
    -webkit-transition: all, 200ms;
    -moz-transition: all, 200ms;
    -ms-transition: all, 200ms;
    -o-transition: all, 200ms;
    transition: all, 200ms;
}
nav.admin-nav li nobr {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 36px;
    background-color: #000000;
    color: #ffffff;
    font-size: .65em;
    display: inline-block;
    height: 100%;
    padding: 2px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all, 200ms;
    -moz-transition: all, 200ms;
    -ms-transition: all, 200ms;
    -o-transition: all, 200ms;
    transition: all, 200ms;
    width: 0;
}
nav.admin-nav a:first-of-type li {
    border-top: 0;
}